@mixin burger {
  position: relative;
  display: block;
  flex: 0 0 var(--burger-width);
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--burger-color);

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    border-radius: var(--burger-line-radius);
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - var(--burger-line-height));
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: var(--burger-line-radius);
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }

  &._active {
    &::before {
      top: 50%;
      transform: rotate(45deg);
    }

    &::after {
      top: 50%;
      transform: rotate(-45deg);
    }

    .burger__line {
      transform: translateY(-50%) scaleX(0);
    }
  }

  @media (any-hover: hover) {
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--burger-color-hover);
    }
  }
}
