<header class="header">
  <div class="header__container">
    <nav class="nav header__nav">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="works.html" class="nav__link @if(link == 1){ _active }">Works</a>
        </li>
        <li class="nav__item">
          <a href="blog.html" class="nav__link @if(link == 2){ _active }">Blog</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link @if(link ==3 ){ _active }">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="burger btn-reset" aria-label="menu-burger">
      <span class="burger__line"></span>
    </button>
  </div>
</header>
