// colors
$color-white: #fff;
$color-black: #000;
$color-main: #21243d;
$color-primary: #ff6464;
$color-primary-hover: #f55353;
$color-light: #8695a4;

// width
$maxWidth: 1152;
$maxWidthContainer: 856;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
